body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #D7C9E0;
}

h1 {
  text-align: center;
}

.welcome {
  font-family: 'Source Sans Pro', sans-serif;
  color: #957FEF;
  font-size: 5em;
}

.container {
  display: flex;
  align-items: center;
  /*height: 30em;*/
  flex-wrap: wrap;
  justify-content: center;
}

.container a {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

.createEvent,
.checkinEvent {
  background-color: #957FEF;
  margin: 1em;
  padding: 3em;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.createEvent:hover,
.checkinEvent:hover {
  color: #fff;
}

.event-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-header {
  background: #957FEF;
  padding: 1em 0;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: 0 20% 0 20%;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5em;
  order: 1;
}

.event-body {
  background: #EEEEEE;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  margin: 0 20% 0 20%;
  /*margin: 0 6em 0 6em;*/
  order: 2;
}


/*Form Styling*/

.form-style {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 4px;
}

.form-style h2 {
    background: #957FEF;
    padding: 1em 0;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}

.form-style input[placeholder="Title"],
.form-style input[placeholder="Location"],
.form-style input[placeholder="Time"],
.form-style input[placeholder="Code"],
.form-style input[placeholder="Date"],
.form-style input[placeholder="Cost"]  {
      font-family: 'Source Code Pro', monospace;
      font-size: 1em;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border: 1px solid #ccc;
      padding: 3%;
      color: #555;
}

form button {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.1em;
  font-size: 1em;
  margin: 0.6em 0;
  border: 1px solid #000;
  border-radius: 3px;
  background: #fff;
  width: 100%;
  padding: 3%;
  color: #000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form button:hover {
  background: #957FEF;
  cursor: pointer;
}
