<h1>Enter in details below</h1>

<div class="form-style">
<h2>Create new event</h2>
<form name="newForm" method="post">
  <input placeholder="Title" data-ng-model="vm.event.title" />
  <!-- <input placeholder="Code" value="" data-ng-model="vm.event.code" /> -->
  <input placeholder="Location" data-ng-model="vm.event.location" />
  <input placeholder="Time" data-ng-model="vm.event.time" />
  <input placeholder="Date" type="date" data-ng-model="vm.event.date" />
  <input placeholder="Cost" data-ng-model="vm.event.cost" />
  <button type="button" data-ng-click="vm.create()">Create</button>
</form>
</div>
