<h1>Please Review Your Event:</h1>

<div class="event-flex">
<h2 class="event-header">{{vm.whole.event.title}}</h2>
<div class="event-body">
  <p>🚩 Event Location: {{vm.whole.event.location}}</p>
  <p>🕑 Event Time: {{vm.whole.event.time}}</p>
  <p>💰 Event Cost: ${{vm.whole.event.cost}}</p>

<h2>All set? Great. Share your code with your attendees!</h2>
</div>
</div>
<button data-ng-click="vm.update()">Update</button>
<button data-ng-click="vm.destroy()">Delete</button>

<div data-ng-repeat="user in vm.whole.attendees">
  <p>{{user.name}}</p>
</div>
