<h2>Your Fellow Guests</h2>
<div class="userboss">
<div class="usercontainer" data-ng-repeat="user in vm.whole.attendees">
  <div class="username">{{user.name}} {{user.lastName}}</div>
  <div class="userurl"><a class="abutton" href="{{user.linkedin_url}}">Add on LinkedIn</a></div>
  <div class="userphoto"><img src="{{user.photo_url}}" alt="Profile Photo"></div>
</div>
</div>

<a class="userButton" data-ng-click="vm.event()">My Event Details</button>
<a class="userButton" data-ng-click="vm.home()">Return Home</button>
